<div class="main-container">
  <app-header (searchTermChange)="searchCharacter($event)"></app-header>

  <ng-container *ngIf="characters.length > 0">
    <div class="card-columns card-columns-4" infinite-scroll (scrolled)="scrollDown()">
      <app-card
        *ngFor="let character of characters"
        [id]="character.id"
        [name]="character.name"
        [gender]="character.gender"
        [culture]="character.culture"
        [born]="character.born"
        [died]="character.died"
        [aliases]="character.aliases"
      >
      </app-card>
    </div>
  </ng-container>

  <ng-container *ngIf="isLoading">
    <div class="spinner-container">
      <span class="spinner">
        Loading...
      </span>
    </div>
  </ng-container>

  <ng-container *ngIf="!isLoading && characters.length === 0">
    <h3 class="text-center">No results for the search criteria</h3>
  </ng-container>
</div>
